# Fist Pass Inside Airbnb Data

In [2]:
import pandas as pd

## General Breakdown of Inside Airbnb Tables

### Listings Tables

In [19]:
listings = pd.read_csv('data_csvs/Asheville/listings.csv')
print(listings.shape)
listings.head()

(2172, 74)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,108061,https://www.airbnb.com/rooms/108061,20201108173816,2020-11-08,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental in...,"I love my neighborhood! Its friendly, easy-goi...",https://a0.muscache.com/pictures/41011975/0cdf...,320564,https://www.airbnb.com/users/show/320564,...,10.0,10.0,9.0,NaN,f,2,2,0,0,0.80
1,155305,https://www.airbnb.com/rooms/155305,20201108173816,2020-11-08,Cottage! BonPaul + Sharky's Hostel,<b>The space</b><br />Private cottage located ...,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,https://www.airbnb.com/users/show/746673,...,10.0,10.0,10.0,NaN,t,6,1,1,4,2.43
2,156926,https://www.airbnb.com/rooms/156926,20201108173816,2020-11-08,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/98f4e655-c4d6...,746673,https://www.airbnb.com/users/show/746673,...,9.0,10.0,10.0,NaN,t,6,1,1,4,2.82
3,160594,https://www.airbnb.com/rooms/160594,20201108173816,2020-11-08,Historic Grove Park,Come enjoy the beautiful Grove Park neighborho...,NaN,https://a0.muscache.com/pictures/92433837/d340...,769252,https://www.airbnb.com/users/show/769252,...,10.0,10.0,10.0,NaN,f,1,0,1,0,0.51
4,209068,https://www.airbnb.com/rooms/209068,20201108173816,2020-11-08,Terrace Cottage,Located in one of Asheville's oldest historic ...,Our beautiful historic district close to downt...,https://a0.muscache.com/pictures/1829924/9f3bf...,1029919,https://www.airbnb.com/users/show/1029919,...,10.0,10.0,10.0,NaN,f,1,1,0,0,0.50

In [20]:
# How to Find a Better Taret Variable
listings['price'][:5]

0     $82.00
1     $92.00
2     $30.00
3    $125.00
4    $134.00
Name: price, dtype: object

In [10]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2172 entries, 0 to 2171
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            2172 non-null   int64
 1   listing_url                                   2172 non-null   object
 2   scrape_id                                     2172 non-null   int64
 3   last_scraped                                  2172 non-null   object
 4   name                                          2172 non-null   object
 5   description                                   2167 non-null   object
 6   neighborhood_overview                         1760 non-null   object
 7   picture_url                                   2172 non-null   object
 8   host_id                                       2172 non-null   int64
 9   host_url                                      2172 non-null   object
 10  host_name                                     2172 non-null   object
 11  host_since                                    2172 non-null   object
 12  host_location                                 2169 non-null   object
 13  host_about                                    1532 non-null   object
 14  host_response_time                            2027 non-null   object
 15  host_response_rate                            2027 non-null   object
 16  host_acceptance_rate                          2089 non-null   object
 17  host_is_superhost                             2172 non-null   object
 18  host_thumbnail_url                            2172 non-null   object
 19  host_picture_url                              2172 non-null   object
 20  host_neighbourhood                            188 non-null    object
 21  host_listings_count                           2172 non-null   int64
 22  host_total_listings_count                     2172 non-null   int64
 23  host_verifications                            2172 non-null   object
 24  host_has_profile_pic                          2172 non-null   object
 25  host_identity_verified                        2172 non-null   object
 26  neighbourhood                                 1761 non-null   object
 27  neighbourhood_cleansed                        2172 non-null   int64
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      2172 non-null   float64
 30  longitude                                     2172 non-null   float64
 31  property_type                                 2172 non-null   object
 32  room_type                                     2172 non-null   object
 33  accommodates                                  2172 non-null   int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                2172 non-null   object
 36  bedrooms                                      2013 non-null   float64
 37  beds                                          2171 non-null   float64
 38  amenities                                     2172 non-null   object
 39  price                                         2172 non-null   object
 40  minimum_nights                                2172 non-null   int64
 41  maximum_nights                                2172 non-null   int64
 42  minimum_minimum_nights                        2172 non-null   int64
 43  maximum_minimum_nights                        2172 non-null   int64
 44  minimum_maximum_nights                        2172 non-null   int64
 45  maximum_maximum_nights                        2172 non-null   int64
 46  minimum_nights_avg_ntm                        2172 non-null   float64
 47  maximum_nights_avg_ntm                        2172 non-null   float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              2172 non-null   object
 50  availability_30                               2172 non-null   int64
 51  availability_60                               2172 non-null   int64
 52  availability_90                               2172 non-null   int64
 53  availability_365                              2172 non-null   int64
 54  calendar_last_scraped                         2172 non-null   object
 55  number_of_reviews                             2172 non-null   int64
 56  number_of_reviews_ltm                         2172 non-null   int64
 57  number_of_reviews_l30d                        2172 non-null   int64
 58  first_review                                  2044 non-null   object
 59  last_review                                   2044 non-null   object
 60  review_scores_rating                          2040 non-null   float64
 61  review_scores_accuracy                        2008 non-null   float64
 62  review_scores_cleanliness                     2008 non-null   float64
 63  review_scores_checkin                         2008 non-null   float64
 64  review_scores_communication                   2008 non-null   float64
 65  review_scores_location                        2008 non-null   float64
 66  review_scores_value                           2008 non-null   float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              2172 non-null   object
 69  calculated_host_listings_count                2172 non-null   int64
 70  calculated_host_listings_count_entire_homes   2172 non-null   int64
 71  calculated_host_listings_count_private_rooms  2172 non-null   int64
 72  calculated_host_listings_count_shared_rooms   2172 non-null   int64
 73  reviews_per_month                             2044 non-null   float64
dtypes: float64(18), int64(24), object(32)
memory usage: 1.2+ MB

### Reviews Tables

In [16]:
reviews = pd.read_csv('data_csvs/Asheville/reviews.csv')
print(reviews.shape)
reviews.head()

(173892, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik..."
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ..."
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat..."

In [21]:
# Foreign Key?
reviews['id'][:5]

0     553741
1     683278
2     714889
3    1766157
4    2033065
Name: id, dtype: int64

In [22]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173892 entries, 0 to 173891
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     173892 non-null  int64
 1   id             173892 non-null  int64
 2   date           173892 non-null  object
 3   reviewer_id    173892 non-null  int64
 4   reviewer_name  173892 non-null  object
 5   comments       173838 non-null  object
dtypes: int64(3), object(3)
memory usage: 8.0+ MB

## Each City

In [ ]:
# Ashville

In [15]:
# Austin

austin_lst = pd.read_csv('data_csvs/Austin/listings.csv')
austin_rvs = pd.read_csv('data_csvs/Austin/reviews.csv')

print('Austin Listings')
print(austin_lst.shape)
print('Austin Reviews')
print(austin_rvs.shape)
austin_rvs.head(3)

Austin Listings
(10450, 74)
Austin Reviews
(321484, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2265,963,2009-03-17,7538,Niall,I stayed here during SXSW and had a really ple...
1,2265,1057,2009-03-22,10029,Michael,"Great place, close enough to everything downto..."
2,2265,200418,2011-03-16,61677,Gustaf,We had a great time in Austin staying at Paddy...